@model AssignmentT2.Models.ViewModels.ProductVM

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Product</h2>
            <hr/>
        </div>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Services" class="p-0"></label>
            <input asp-for="Product.Services" class="form-control" />
            <span asp-validation-for="Product.Services" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Description" class="p-0"></label>
            <input asp-for="Product.Description" class="form-control" />
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.ListPrice" class="p-0"></label>
            <input asp-for="Product.ListPrice" class="form-control" />
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Price" class="p-0"></label>
            <input asp-for="Product.Price" class="form-control" />
            <span asp-validation-for="Product.Price" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Price3" class="p-0"></label>
            <input asp-for="Product.Price3" class="form-control" />
            <span asp-validation-for="Product.Price3" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Product.Price5" class="p-0"></label>
            <input asp-for="Product.Price5" class="form-control" />
            <span asp-validation-for="Product.Price5" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <Select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                <option disabled selected>--Select Category--</option>
            </Select>
            <input asp-for="Product.CategoryId" class="form-control" hidden />
            <span asp-validation-for="Product.CategoryId" class="text-danger" hidden></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
               <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Back to List
                </a>
            </div>

        </div>

    
        
    </div>
      
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}